/* Geral */
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.container {
  display: flex;
  height: auto;
  width: auto;
}

/* Banner */
#banner-container {
  width: 350px;
  background-image: url(/img/9580633.jpg);
  background-position: center;
  background-size: cover;
  border: 1px solid #111;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Registrar */
#register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9rem;
  background-color: #16132e;
  width: 60%;
  padding: 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#register-container h2 {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
}

#register-container p {
  color: #aaa;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-control label {
  font-size: 0.8rem;
  color: #ddd;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bbb;
  padding-bottom: 13px;
  outline: none;
  color: #fff;
}

/* Impedir o background de preenchimento padrão */
input:-webkit-autofill {
  -webkit-box-shadow: 0 transparent inset !important; /* substitua pela cor de fundo do seu input */
  -webkit-text-fill-color: #fff !important; /* cor do texto */
  transition: background-color 5000s ease-in-out 2s;
}

/* Criar uma senha */
#generate-container {
  margin: 0.5rem 0;
}

#generate-container p {
  color: #bbb;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

#generate-container span {
  color: #eee;
  cursor: pointer;
}

#generate-container h4 {
  text-align: center;
  margin-top: 0.5rem;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  display: none;
}

#register-container button[type="submit"] {
  padding: 0.4rem;
  background-color: #7c82f7;
  border-radius: 5px;
  border: none;
  margin: 0.5rem 0;
  color: #000;
  font-size: 0.9rem;
}

#register-container button[type="submit"]:hover {
  background-color: #eaccf8;
  cursor: pointer;
  transition: 0.2s;
}
